package templates

templ Home() {
    @Layout("Nearest Charging Stations") {
        <h1>Welcome to the Nearest Charging Stations App</h1>
        <p>Find the nearest charging stations for your electric vehicle.</p>

        <div id="map"></div>
    }
}